
neural_network/python_network/.idea/vcs.xml
neural_network/python_network/.idea/python_network.iml
neural_network/python_network/.idea/modules.xml
neural_network/python_network/.idea/misc.xml
neural_network/python_network/.idea/inspectionProfiles/profiles_settings.xml
neural_network/python_network/__pycache__/mnist_loader.cpython-310.pyc
neural_network/python_network/__pycache__/network.cpython-310.pyc
