html, body {
  margin: 0;
  padding: 0;
}
html {
  background-color: rgb(243, 243, 243);
}
.main {
  margin: auto;
  display: flex;
  padding-top: 10%;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  border-bottom: 2px solid gray;
}
.names {
  margin: auto;
  display: flex;
  padding-top: 3%;
  flex-direction: row;
  justify-content: space-around;
  width: 55%;
}
h1 {
  font-family: "Playfair Display", "Arial Black", sans-serif;
  font-size: 44px;
  font-weight: normal;
  color: whitesmoke;
}
h2 {
  font-family: "Playfair Display", "Arial Black", sans-serif;
  font-size: 44px;
  font-weight: normal;
  text-align: center;
  color: whitesmoke;
}
h2 a{
  color: whitesmoke;
  text-decoration: none;
}
h2 a:hover{
  color: rgb(141, 141, 141);
}
.background {
  background-color: rgb(68, 68, 68);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

.mainContainer {
  margin-left: 40px;
}

.mainContainer > .algorithmName {
  padding-bottom: 8px;
  border-bottom: 2px solid gray;
}

.mainContainer > .algorithmName > h3 {
  margin: 10px auto 0px auto;
  font-family: "Playfair Display", "Arial Black", sans-serif;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  color: whitesmoke;
}

.mainContainer > .algorithmBox {
  display: flex;
}

.mainContainer > .algorithmBox > * {
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(22, 27, 34, 0.616);
  padding: 15px;
}

.mainContainer > .algorithmBox > .algorithmOptions > * {
  margin: 0 auto 20px auto;
  width: 100%;
  border: 3px solid grey;
  display: flex;
  flex-direction: column;
}

.mainContainer > .algorithmBox > .algorithmOptions {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mainContainer > .algorithmBox > .algorithmView {
  flex: 2;
  margin-right: 40px;
}
