html, body {
  margin: 0;
  padding: 0;
}
.main {
  margin: auto;
  display: flex;
  padding-top: 10%;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  border-bottom: 2px solid gray;
}
.names {
  margin: auto;
  display: flex;
  padding-top: 3%;
  flex-direction: row;
  justify-content: space-around;
  width: 55%;
}
h1 {
  font-family: "Playfair Display", "Arial Black", sans-serif;
  font-size: 44px;
  font-weight: normal;
}
h2 {
  font-family: "Playfair Display", "Arial Black", sans-serif;
  font-size: 44px;
  font-weight: normal;
  text-align: center;
}
h2 a{
  color: black;
  text-decoration: none;
}
.background {
  background-color: rgb(243, 243, 243);
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}
