.mainContainer{
  margin-left: 40px;
}

.mainContainer > .algorithmName > h3 {
  position: inherit;
}

.mainContainer > .algorithmName > h3 {
  margin: 10px auto 0px auto;
  border-bottom: 2px solid gray;
  font-family: "Playfair Display", "Arial Black", sans-serif;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.mainContainer > .algorithmBox {
  display: flex;
}

.mainContainer > .algorithmBox > * {
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.616);
  padding: 15px;
}

.mainContainer > .algorithmBox > .algorithmOptions {
  flex:1;
}

.mainContainer > .algorithmBox > .algorithmView{
  flex:2;
}