.mainContainer {
  margin-left: 40px;
}

.mainContainer > .algorithmName {
  padding-bottom: 8px;
  border-bottom: 2px solid gray;
}

.mainContainer > .algorithmName > h3 {
  margin: 10px auto 0px auto;
  font-family: "Playfair Display", "Arial Black", sans-serif;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.mainContainer > .algorithmBox {
  display: flex;
}

.mainContainer > .algorithmBox > * {
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.616);
  padding: 15px;
}

.mainContainer > .algorithmBox > .algorithmOptions > * {
  margin: 0 auto 20px auto;
  width: 100%;
  border: 3px solid grey;
  display: flex;
  flex-direction: column;
}

.mainContainer > .algorithmBox > .algorithmOptions > .about > * {
  margin: 10px;
}

.mainContainer > .algorithmBox > .algorithmOptions {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.mainContainer > .algorithmBox > .algorithmOptions h4 {
  text-align: left;
  margin: 10px 10px auto 10px;
  font-family: "Playfair Display", "Arial Black", sans-serif;
  font-size: 24px;
}

.mainContainer > .algorithmBox > .algorithmView {
  flex: 2;
  margin-right: 40px;
}

#ioTable{
  margin: 0 auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

button{
  margin: 5px 15px 10px 15px;
  height: 30px;
  font-family: "Times New Roman", "Arial Black", sans-serif;
  font-size: 18px;
  border-radius: 5px;
}
button:active{
  background-color: #a0a0a0;
  border: 2px solid black;
}

#setInput {
  border: 4px solid #0a76d0;
}

#setOutput {
  border: 4px solid #ffa500;
}

#setWall {
  border: 4px solid #616161;
}

#run {
  border: 4px solid #049924;
}

#clearAll, #setClear {
  border: 4px solid #a10606;
}

td.clear {
  background-color: white;
}

td.wall {
  background-color: #616161;
}

td.input {
  background-color: #0a76d0;
}

td.output {
  background-color: #ffa500;
}

td.visited {
  background-color: #e1f594;
}

td.way {
  background-color: #94f5b2;
}
