#ioTable{
  margin: 0 auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
p{
  font-size: 17px;
}

#SizeSlider{
  display: block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 15px;
}
#tableSizeLabel{
  margin-left: 15px;
  font-size: 20px;
}
#tableSizeSlider{
  margin-top: 6.5px;
}
input[type='range'] {
  width: 200px;
  height: 3px;
  -webkit-appearance: none;
  background-color: rgb(143, 142, 142);
  border: 2px solid gray;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.6) inset; 
  border-radius: 4px;
}
input[type='range']::-webkit-slider-runnable-track {
  height: 18px;
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-thumb {
  width: 18px;
  -webkit-appearance: none;
  height: 18px;
  cursor: grab;
  background: #ececec;
  border: 2px solid gray;
  box-shadow: 0 0 16px rgba(255, 255, 255, 0.3) inset; 
  border-radius: 100%;
}

button{
  margin: 5px 15px 10px 15px;
  height: 30px;
  background-color:rgb(241, 239, 239);
  font-family: "Times New Roman", "Arial Black", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  border: 3px solid rgb(66, 66, 66);
}
button:hover{
  background-color: whitesmoke;
}
button:active{
  color: whitesmoke; 
}

#buildTable, #buildMaze{
  border: 3px solid rgb(66, 66, 66);
}
#buildTable:hover, #buildMaze:hover{
  border: 3.4px solid rgb(78, 78, 78);
}
#buildTable:active, #buildMaze:active{
  background-color: rgb(78, 78, 78);
  border: 3.4px solid rgb(78, 78, 78);
}

#setInput {
  border: 3px solid #2b88d4;
}
#setInput:hover{
  border: 3.4px solid #1495ff;
}
#setInput:active{
  background-color: #1495ff;
  border: 3.4px solid #1495ff;
}

#setOutput {
  border: 3px solid #e99c0e;
}
#setOutput:hover{
  border: 3.4px solid #ffbe45;
}
#setOutput:active{
  background-color: #ffbe45;
  border: 3.4px solid #ffbe45;
}

#setWall {
  border: 3px solid #616161;
}
#setWall:hover{
  border: 3.4px solid #8d8c8c;
}
#setWall:active{
  background-color: #8d8c8c;
  border: 3.4px solid #8d8c8c;
}

#clearAll, #setClear {
  border: 3px solid #a10606;
}
#clearAll:hover, #setClear:hover{
  border: 3.4px solid #d80707;
}
#clearAll:active, #setClear:active{
  background-color: #d80707;
  border: 3.4px solid #d80707;
}

#runBox {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
#run {
  border: 3px solid #049924;
  margin-right: 5px;
  flex: 7;
}
#run:hover{
  border: 3.4px solid #03c02c;
}
#run:active{
  background-color: #03c02c;
  border: 3.4px solid #03c02c;
}

#indicator {
  flex: 1;
  margin-left: 0;
  border: 1px solid #000000;
}

.idle {
  background-color: rgb(255, 255, 255);
}

.running {
  background-color: rgb(255, 248, 152);
}

.success {
  background-color: rgb(142, 255, 119);
}

.fail {
  background-color: rgb(255, 108, 108);
}

td.clear {
  background-color: white;
}

td.wall {
  background-color: #616161;
}

td.input {
  background-color: #0a76d0;
}

td.output {
  background-color: #ffa500;
}

td.open {
  background-color: #e1f594;
}

td.closed {
  background-color: #78c764;
}


td.way {
  background-color: #94f5d0;
}