body{
  background: rgb(12,11,37);
  background: linear-gradient(90deg, rgb(8, 8, 26) 0%, rgb(13, 49, 73) 53%, rgba(8, 8, 26) 100%);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#canv {
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
}

.algorithmView {
    padding: 15px;
    flex: 1;
}
.progressBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  margin-top: -5px;
} 
progress {
  background-color: whitesmoke;
  width: 100%;
  height: 6px;
  border-radius: 9px;
  border: 0;
  margin: 5px 0px 15px 0px;
}
progress::-webkit-progress-bar {
  background-color: whitesmoke;
  border: 3px solid rgb(66, 66, 66);
  border: 0;
  border-radius: 9px;
}
progress::-webkit-progress-value {
  background-color: #07d834;
  border-radius: 9px;
  border: 0;
}
#clearAll:hover{
    border: 3.4px solid #d80707;
  }
#clearAll:active{
    background-color: #d80707;
    border: 3.4px solid #d80707;
  }
#run {
    border: 3px solid #049924;
    background-color: #049924;
  }
#run:hover{
    border: 3.4px solid #03c02c;
  }
#run:active{
    background-color: #03c02c;
    border: 3.4px solid #03c02c;
  }
#resultBox{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: 2px solid whitesmoke;
}
#topLabel{
  margin: 10px 0px 0px 0px;
  padding: 5px;
  font-family: "Montserrat Alternates", "Arial Black", sans-serif;
  font-size: 18px;
  text-align: center;
  border-radius: 5px;
  color: whitesmoke; 
}

#topList{
  padding: 10px 25px;
  border-radius: 5px;
  font-family: "Montserrat Alternates", "Arial Black", sans-serif;
  font-size: 18px;
  color: whitesmoke; 
  display: flex;
  flex-direction: column;
}

.mainContainer > .algorithmBox > .algorithmOptions {
  max-height: 600px;
}